apiVersion: apps/v1
kind: Deployment
metadata:
  name: apiserver
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  selector:
    matchLabels:
      app: apiserver
  template:
    metadata:
      labels:
        app: apiserver
    spec:
      automountServiceAccountToken: true
      containers:
        - args:
            - -dbName=geocube
            - -dbUser={{DB_USER}}
            - -dbPassword={{DB_PASSWORD}}
            - -dbHost={{BD_HOST}}
            - -psEventsTopic=events
            - -psConsolidationsTopic=consolidations
            - -ingestionStorage={{INGESTION_STORAGE}}
            - -maxConnectionAge=3600
            - -workers=1
            - -cancelledJobs={{CANCELLED_JOBS_STORAGE}}
          image: {{GEOCUBE_SERVER_IMAGE}}
          imagePullPolicy: Always
          name: apiserver
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
          - mountPath: /tmp
            name: local-storage
          resources: {}
      volumes:
        - name: local-storage
          emptyDir: {}
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
